@import 'base.css';


.wrap {width: 1980px; margin: 0 auto;}

h1 {overflow: hidden; text-align: center; margin-bottom: 2rem; padding: 5rem;}
h1:before, h1:after {background-color: #000; content: ""; display: inline-block; height: 1px; position: relative;
     vertical-align: middle; width: 50%; }
 h1:before { right: 0.5em; margin-left: -50%; }
 h1:after { left: 0.5em; margin-right: -50%; }

header {width:100%; margin:auto; padding-top:4rem; position: fixed; background-color: #fff; z-index:999;}
.hd-top {width:100%; max-width:1440px; margin:auto;}
.hd-sns {float:left; }
.hd-sns > li { margin-right:1rem; cursor: pointer;}
.hd-mymenu {float:right; padding-right:6.8%;}
.hd-mymenu > li {float:left; margin-left:1rem; cursor: pointer;}
.logo {position:absolute; top:40px; left:50%; transform:translateX(-50%);
     max-width:200px; width:100%; cursor: pointer;}
.logo >img:first-child {display:inline-block } 
/* .logo >img:last-child {display:none; width: 140px; } */







     @media screen and (max-width:480px){
          .logo >img:first-child {display:inline-block; width: 80%; margin-left: -81px} 
          /* .logo >img:last-child {position: display:inline-block; left: 0;} */
          .hd-sns, .navs, .sub-navs {display: none;} 
          .hd-mymenu {font-size: 10px}
          .spinner-master * {transition: all 0.3s;  box-sizing: border-box; }
          .spinner-master { position: relative; margin: 15px; height: 30px; width: 30px;  float: right;   }
          .spinner-master label {cursor: pointer;  position: absolute; z-index: 99; height: 100%;
               width: 100%; left: 0; margin-top: -30px   }
          .spinner-master .spinner { position: absolute; height: 4px; width: 100%; padding: 0;
               background-color: #000;}   
          .spinner-master .diagonal.part-1 { position: relative; float: right;  }
          .spinner-master .horizontal { position: relative; float: right; margin-top: 4px; }
          .spinner-master .diagonal.part-2 { position: relative; float: right; margin-top: 4px; }
          .spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal { opacity: 0; }
          .spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 { transform: rotate(135deg);
                    -webkit-transform: rotate(135deg); margin-top: 10px; }
          .spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {transform: rotate(-135deg);
               -webkit-transform: rotate(-135deg); margin-top: -12px;}
          .m-banner img { width: 100%;}       
          .m-at ul li a {display: inline; }
          .m-ats img {width: 300px; display: block; }


     }
     @media screen and (max-width:580px){
          .logo >img:first-child {display:inline-block; width: 80%; margin-left: -81px} 
          .hd-sns {display: none;} 
          .hd-mymenu {display: none;}

     }





nav {width:100%; background-color:#a8121a; margin-top:1rem;}
.navs {width:100%; max-width:1440px; margin:auto;}
.navs > li {float:left; width:16.66%; padding:1rem; text-align:center; color:#fff; }
.navs > li:hover {color: black; cursor: pointer;}
.navs > li:nth-child(1) {background-color: #890e15}


.sub-navs {position: absolute; z-index:99; top:10.5rem;}
.sub-navs > ul { width: 100%; text-align: center; }
.sub-navs > ul > li {background: url(../img/nav_bg.png); border-bottom:1px solid #d1d1d1; padding:1rem; overflow:hidden;}
.sub-navs > ul > li:nth-child(1) { background-position-y: 0;}
.sub-navs > ul > li:nth-child(2) { background-position-y:-71px; }
.sub-navs > ul > li:nth-child(3) { background-position-y:-142px; }
.sub-navs > ul > li:nth-child(4) { background-position-y:-213px; }
.sub-navs > ul > li:nth-child(5) { background-position-y:-284px; border-bottom: none; }
.sub-navs > ul > li { padding-top: 3.5rem; }
.sub-navs > ul > li:hover {cursor: pointer; background-color: #666; color: white}


.m-banner { width: 100%; padding-top:10.5rem; max-height:100%; overflow:hidden; position: relative;}
.banner_wrap {position:relative; width:100%;}
.slide {position:absolute; width:100%;}


.m-eve { width: 100%; max-width: 1440px; margin: 5rem auto;  }
.eve-ul {text-align: center; }
.eve-ul >  li { display: inline-flex;}
.eve-ul > li > a { display: block; text-align: center; border: 1px solid #d1d1d1;
     border-top: none; color: #000; font-size: 16px;  }
.eve-ul > li > img {}

.eve-ul > li > a > span { display: block; padding: .682rem; }
.eve-li span:last-child {padding: 0;}



.m-atf {background-color: #efeff0; }
.m-at { width: 100%; max-width: 1440px; margin: auto; text-align: center; }
.m-ats {display: inline-block;}
.m-atf > .at-l {float: left;}
.m-atf > .at-r {float:right;}
.sca_img { transform: scale(1); -webkit-transform: scale(1);  -moz-transform: scale(1);
     -ms-transform: scale(1); -o-transform: scale(1); transition: all 0.3s ease-in-out;}
.sca_img:hover { cursor:pointer; transform: scale(1.1); -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2); -ms-transform: scale(1.2);  -o-transform: scale(1.2);
     transition: transform .3s;  -o-transition: transform .3s;  -moz-transition: transform .3s;
     -webkit-transition: transform .45s; }
     
.m-at li { width: 308px; overflow: hidden; margin-bottom: 1rem; }
.m-at .mm { width: 671px;  }

.at-m { float: left;}
.at-l { float: left; margin-right: 1rem;}
.at-r { float: right; margin-left: 1rem;}


.m-md { width: 100%; max-width: 1440px; margin:auto; }
.m-mds {display: flex;}
.m-mds > li {margin: auto;}
.m-mds > li > a {margin-top: 233px; display: block; text-align: center; border: 1px solid #d1d1d1;
     border-top: none; padding: 15px 0;  color: #000; font-size: 16px;}
.m-mds li{background:no-repeat center 0; width:295px; float: left;}
.m-mds li:nth-child(1){background-image:url('../img/m-mds1.png')}
.m-mds li:nth-child(2){background-image:url('../img/m-mds2.png')}
.m-mds li:nth-child(3){background-image:url('../img/m-mds3.png')}
.m-mds li:nth-child(4){background-image:url('../img/m-mds4.png')}
.m-mds li:nth-child(-n+3){margin-right:4rem;}


footer {width: 100%;  background-color: #111; margin-top: 5rem; } 
.foots {width: 100%; max-width: 1440px; margin: auto; padding-top: 3.5rem;  }
footer .f-info1 {float: left; width:40%; line-height:1.6rem; padding-right:3%;}
footer .f-info2 {float: left; width:25%; padding-right:3%;}
footer .f-info3 {float: left; width:35%;}
footer .f-info2 .info3 {margin: 1rem 0;}
footer .f-info3 {float: left; }
footer h3 {color: #fff; margin-bottom:1rem; }
footer a, p { cursor: default;  color: #777; font-size: 10.5pt;}
footer a:hover {color:#333;}

.f-phone > a {font-size: 1.5rem;}

.map {width:96%; margin:auto; max-width:450px; height:30vh; position: relative; margin-left: -3rem}

